body {
  background-color: #f2f2f2;
}

.container {
  background-color: #ffffff;
}

.main-banner {
  padding-bottom: 20px;
}
.my-name {
  font-weight: bold;
}

a.project-links {
  text-decoration: none;
  font-size: 14px;
  color: #404040;
}
.panel-heading {
  border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.panel-info {
  border-color: #AFAFB0;
}

.panel-info > .panel-heading {
  background-color: #404040;
  border-color: #404040;
  color: #f2f2f2;
}

.bg-success {
  background-color: #D5EBB0;
}

#about-row img {
  width: 110px;
  float: left;
  margin-right: 30px;
  margin-left: 25px;
  margin-top: 10px;
}

#about-row {
  margin-top:10px;
  margin-bottom: 40px;
  padding-top:20px;
  padding-bottom: 20px;
  background-color: #f2f2f2;
  font-size: 16px;
  line-height: 23px;
  color: #404040;
}

p.about-me {
  padding-top: 10px;
  padding-bottom: 10px;
}

.summary {
  padding-left: 20px;
  padding-top: 15px;
}

p.blurb {
  padding-bottom: 10px;
}

#projects-row {
  clear: both;
}

#header {
  text-align: center;
}
#header img {
  width: 100%;
}

#header li, a {
  display: inline;
  font-size: 18px;
  color: #757883;
  text-decoration: none;
}

#header ul {
  list-style-type: none;
  margin: 0;
  padding: 20px 0px 20px 0px;
}


#middle-content {
  padding-top: 10px;
  padding-bottom: 10px;
}


#footer {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

#footer ul {
  list-style-type: none;
  margin: 0;
  padding: 20px 0px 20px 0px;
}

#footer {
  font-size:12px;
}

#footer p {
  color: #757883;
}

#footer li, a {
  display: inline;
  color: #757883;
  text-decoration: none;
}

.footer-nav a {
  text-decoration: none;
  font-size: 14px;
}

#quote {
  margin-left: 110px;
  width: 400px;
}

blockquote {
  margin-left: 50px;
}

.bg-info {
  background-color: #E8E8BD;
}

.project-th {
  width: 100%;
}
