body {
  background-color: #f2f2f2;
}

.container {
  background-color: #ffffff;
}

#about-row img {
  width: 100px;
  float: left;
  margin-right: 30px;
}

#projects-row {
  clear: both;
}

#header {
  text-align: center;
}
#header img {
  width: 100%;
}

#header li, a {
  display: inline;
  font-size: 18px;
  color: #757883;
  text-decoration: none;
}

#header ul {
  list-style-type: none;
  margin: 0;
  padding: 20px 0px 20px 0px;
}

#quote {
  margin-left: 80px;
}

blockquote {
  margin-left: 50px;
}

.bg-info {
  background-color: #E8E8BD;
}

.project-th {
  width: 100%;
}
